:root{
    --base-color: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

body {
  text-align: center;
  background-color: #193549;
  color: white;
  font-family: "helvetica neue", sans-serif;
}

.heading{
    margin: 3rem 2rem;
    font-weight: 800;
    font-size: 4.5rem;
}

.highlight{
    color: var(--base-color);
}

.controls{
    margin: 2rem;
    font-size: 3rem;
}

label{
    margin: 0.8rem;
}

img{
    width:25rem;
    height: 20rem;
    padding: var(--spacing);
    background: var(--base-color);
    filter: blur(var(--blur));
}
